body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 10px;
    background-color: grey;
}

h1 {
    background-color: brown;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: left;
    padding: 1rem 0;
}

.index-page,
.add-note-page,
.view-note-page,
.delete-note-page,
.edit-note-page {
    margin-bottom: 2rem;
    width: 70%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: burlywood;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.add-note-button,
.edit-note-button,
.delete-note-button,
.back-button {
    display: inline-block;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.back-button {
    background-color: #6c757d;
}

form label {
    display: block;
    margin-top: 1rem;
}

form input,
form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

form button {
    margin-top: 1rem 0;
    padding: 0.6rem 1rem;
    background-color: #28a745;
    color: #fff;
    border-radius: 4px;
    border: None;
    cursor: pointer;
}

.sticky-note {
    text-decoration:none;
    color:#000;
    position: relative;
    background: #ffc;
    height:10em;
    width:10em;
    padding:2em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-6deg);
    transition: transform .15s linear;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 50px;
    margin: 1em;
}

ul, li{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    float: left;
  }

.log-in-page,
.register-page {
    justify-content: center;
    margin-bottom: 2rem;
    width: 50%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}